.fruits-sec{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));

}
.heading{
    font-size: 22px;
    padding-top: 20px;
    padding-left: 25px;
    font-weight: bold;
}
.heading hr{
        width: 30%;
        color: #3BB782;
}
