.catSlidersection .headingSec{
    width: 100%;
    padding: 0px 10px;
    display: flex;
}
.catSlidersection .headingSec ul{
    display: flex;
}
.catSlidersection .headingSec ul li{
    list-style-type: none;
}
.catSlidersection .headingSec ul button {
    padding: 1.3em 1em;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    background-color:transparent;
  }
.catSlidersection .headingSec ul button:hover {
    color: #29A56C;
    transform: translateY(-7px);
}
.ProductSecond .slick-slide{
    padding-right: 20px;
}
 .ProductSecond .slick-arrow{
     zoom: 80%;
 }
 .proSecond-sec{
    /* border: 1px solid red; */
    overflow: hidden;
    border-radius: 15px;
    margin: 0px 5px;   
    position: relative;
}

.proSecond-sec .sub-banner{
    padding: 20px;
}
.img{
    width: 100%;
}
.proSecond-sec .imgs-sec{
    position: relative;
}
.proSecond-sec .imgs-sec .share-hover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    text-wrap: nowrap;
    opacity: 0;
    transition:.2s all linear;
}
.proSecond-sec .imgs-sec:hover .share-hover{
    opacity: 1;
}
.proSecond-sec .imgs-sec .share-hover svg{
    font-size: 40px;
    box-shadow: #29A56C 0px 1px 3px 0px, #29A56C 0px 0px 0px 1px;
    padding: 10px;
    color: #29A56C;
    background-color: white;
    border-radius: 5px;
    /* margin: 0px 1px; */
}
.proSecond-sec .imgs-sec .share-hover svg:hover{
    color: #FDC859;
}
.proSecond-sec .imgs-sec .img-2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.2s all linear;
}
.proSecond-sec:hover .imgs-sec .img-2{
    opacity: 1;
    z-index: 1;
    scale: 1.05;
}
.proSecond-sec .saleBanner{
    position: absolute;
    z-index: 2;
    background-color: #29A56C;
    padding: 8px 25px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
}
.proSecond-sec .detail{
    font-size: 16px;
    font-weight: 600;
}
.proSecond-sec .rating-sec{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.proSecond-sec .product-sec{
    color: #29A56C;
    font-weight: 600;
    text-transform: capitalize;
}
.proSecond-sec .price-sec{
    display: flex;
    justify-content: space-between;
}
.proSecond-sec .price-sec .newprice{
    color: #3BB782;
    font-size: 18px;
    font-weight: bold;
    margin-right: 8px;
}
.proSecond-sec .price-sec .oldprice{
    color: darkgray;
    font-weight: 600;
}
.proSecond-sec .price-sec button{
    background-color: #DEF9EC;
    border: none;
    outline: none;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #29A56C;
    gap: 5px;
    border-radius: 5px;
    transition: .2s all linear;
}
.proSecond-sec .price-sec button:hover{
    background-color: #29A56C;
    color: white;
}
 .slick-arrow.slick-prev{
    /* left: 550px; */
    right: 90px;
}
.bannerImageRelative{
    position: relative;
}

.bannerImageAbsolute img{
    position: absolute;
    top: -20px;
    left: -10px;
    width: 35%;
    height: 450px;
}

 